
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
footer{
    display: flex;
    justify-content: end;
    /* margin-top: -1.5rem; */
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.background{
    background-image: url(img/bg.png);
    min-height: 100vh;
}
.content_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 3rem;

}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}
.social_icons{
    display: flex;
    margin: 1.5rem 0 0  1.5rem;
}
.social_icons_img{
    height: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}
.social_icons_img:hover{
    transform: scale( 1.2);
}
.email{
    margin: 0;
    font-size: 1rem;
    visibility: hidden;
}
.description{
    color: rgb(255, 247, 247);
    font-family: 'DAMAGEPLAN PERSONAL USE', sans-serif;
}
.description_big_para{
    font-size: 10rem;
    margin: 0;
}
.description_small_para{
    font-size: 4rem;
    margin: .5rem 0;
}
.description_content{
    width: 25vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar img{
    width: 60vw;
}
.sign{
    margin: 0 .5rem 0 0;
}
@media (max-width: 1300px){
    .content_wrapper{
        padding: 0 1rem 0 1rem;
    }
    .social_icons{
        margin-left:2.5rem;
    }
    .description_big_para{
        font-size: 7rem;
    }
}
@media (max-width: 1100px){
    .social_icons{
        margin-left: 3rem;
    }
    .social_icons_img{
        height: 1.2rem;
    }
    .avatar img{
        width: 55vw;
    }
    .description_big_para{
        font-size: 5rem;
    }
    .description_small_para{
        font-size: 1.5rem;
    }
}
@media (max-width: 800px){
    .content_wrapper{
        padding: 0 2rem 0 2rem;
    }
    .social_icons{
        margin-left: 0;
    }
    .wrapper{
        flex-direction: column-reverse;
        width: 90vw;
    }
    .description_para_wrapper{
        display: flex;
    }
    .description_small_para{
        margin: 0;
        margin-left: .5rem;
        font-size: 5rem;
    }
    .description_content{
        width: 100%;
    }
    .avatar img{
        width: 80vw;
    }
}
@media (max-width: 500px){
    .content_wrapper{
        padding: 1rem 1rem 0 1rem;
    }
    .social_icons{
        margin: 0;
    }
    .social_icons_img{
        height: 1rem;
        margin-right: 1rem;
    }
    .wrapper{
        justify-content: start;
    }
    .avatar img{
        margin: 2rem 0;
    }
    .description_small_para, .description_big_para{
        font-size: 3.5rem;
    }
}